.mainDiv{
    margin-top: 70px;
    margin-left: auto;
  margin-right: auto;
  display: flex;
}

.myYoutubePLayer {
  width: 550px;
  height: 390px;
  border: 1px;
  border-radius: 30px;
  overflow:hidden;
}
.heading{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.aboutdiv{
    width: 550px;
}
.nodiv{
    width: 550px;
}

.aboutdiv h2{
    margin-top: 15px;
    font-size: 14px;
    font-weight:bold;
}

.aboutdiv p{
    text-align: justify;
    margin-top: 20px;
}

/* seconddiv */

.seconddiv{
  margin-left: 25px;
  background: #f1f1f1;
  border-radius: 25px;
  width: 100%;
  padding-top: 25px;
  padding-left: 20px;
}

.cross{
  display: none;
}
.nocross{
  display: none;
}
/* .playlist{
  display: none;
} */
.noplaylist{
  display: none;
}

.sections{
  margin-bottom: 50px; 
}

.newfeature{
  margin-bottom: 50px; 
}


.mychaptersection{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chapters{
  display: flex;
  align-items: center;
}
.myimagediv{
  width: 100px;
  height: 66px;
  object-fit: contain;
  cursor: pointer;
  margin-right: 5px;
}

.myImage{
  border-radius: 10px;
}
.myheading{
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  /* margin-left: 20px; */
}
.equalizer {
  display: flex;
  align-items: flex-end;
  gap: 2px;
  height: 30px; 
  margin-left: 5px;
  margin-bottom: 10px;
}

.notequalizer{
  display: none;
}
.bar {
  width: 3px;
  background: black;
  transition: height 0.2s ease;
  border-radius: 2px;
}

.chaveron {
  width: 16px;       
  height: 16px;
  margin-right: 20px; 
  rotate: 180deg;
  cursor: pointer;
  /* margin-top: 5px; */
}

.rotatechaveron{
   width: 16px;       
  height: 16px;
  margin-right: 20px; 
  cursor: pointer;
}

.showDescription{
  display: block;
}

.hideDescription{
  display: none;
}
@media (max-width: 780px) {
  .myYoutubePLayer {
    width: 355px;
    height: 210px;
  }
  .aboutdiv{
    width: 355px;
    margin-right: 40px;
}
.nodiv{
  width: 355px;
  display: none;
  margin-right: 40px;
}

.mainDiv{
    display: flex;
    flex-direction: column;
}
  .cross{
    color: black;
    size: 40px;
    display:flex;
    flex-direction: row-reverse;
    margin-right: 10px;
  }

  .playlist{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.noplaylist{
  display: none;
}
.mycross{
  size: 20px;
}

.nocross{
  display: none;
}
  .showNothing{
    margin-top: 40px;
    display: none;
  }

  .seconddiv{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background: #f1f1f1;
  border-radius: 25px;
  width: 90%;
  padding-top: 25px;
  padding-left: 20px;
  margin-top: 20px;
}
}
@media (max-width: 385px) {
  .myYoutubePLayer {
    width: 300px;
    height: 150px;
  }

   .aboutdiv{
    width: 300px;
    margin-right: 40px;
}

.nodiv{
  width: 300px;
  margin-right: 40px;
}

.mainDiv{
    display: flex;
    flex-direction: column;
}


.cross{
    color: black;
    size: 50px;
    display:flex;
    flex-direction: row-reverse;
    margin-right: 20px;
  }
}